* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	font-size: 36px;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	background-color: #333;
	color: white;
	overflow: hidden;
}

div {
	width: 800px;
	height: 800px;
	border: 5px solid red;
}

img {
	width: 50%;
	height: 50%;
	border-radius: 30px;
	opacity: 1;
}
