* {
	padding: 80px 40px 15px 5px;
	padding: 10px;
	padding: 20px 30px 40px;
	padding: 100px 50px;

	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-left: 50px;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 30px;
	padding-left: 50px;

	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	padding-left: 40px;
}
