* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.long {
    position: absolute;
    top: 250px;
    left: 50px;
    height: 600px;
    width: 150px;
    padding: 10px;
    background-color: tomato;
    transition: 0.3s;
}

.long:hover {
    height: 200px;
    overflow: hidden;
}

.big {
    position: absolute;
    top: 250px;
    right: 50px;
    height: 600px;
    width: 800px;
    background-color: royalblue;
}

.child {
    border: solid black 3px;
    height: 200px;
}

.first+.child {
    background-color: lime;
}

.child {
    transition: 0.3s;
}

.first:hover~.child {
    background-color: gold;
}