* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	font-family: "Montesrrat", sans-serif;
	background-color: #333;
	font-size: 24px;
	color: #fff;
}

.square {
	width: 200px;
	height: 200px;
	background-color: blue;
	border: 2px solid royalblue;
	box-shadow: 0 0 15px blue;
	border-radius: 25px;
	transition: 0.5s;
}

/* 
transform: translatex(50px)     przesuniecie o 50px na osi x
transform: translatey(50px)     przesuniecie o 50px na osi y
transform: scale(2) - powieksza o dwa razy 
transform: rotate(45deg) - przechyla o 45 stopni (mozna tez rotatex, rotatey, rotatez)
transform: skew(40deg) - wygina o 40 stopni (mozna tez skewx, skewy)   

mozna tez uzywac po prostu wartosci bez transform
rotate: 20deg;
scale: 2;
translate: 50%;

transform-origin: 50% 50%; - oryginalna wartosc, oznacza ze środek przesuwanego obiektu znajduje sie dokladnie w jego srodku


*/
