 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Raleway', sans-serif;
 }

 /* Header styles */
 .header-img {
     position: relative;
     height: 300px;
     background-image: url('../img/background.jpg');
     background-size: cover;
     background-position: 0 75%;

 }

 .header-bg {
     position: absolute;
     height: 100%;
     width: 100%;
     background-color: rgba(140, 69, 187, 0.15);
 }

 .header-text {
     position: absolute;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;
     color: white;
 }

 .header-text h1 {
     text-align: center;
     font-size: 50px;
     margin-bottom: 5px;
     letter-spacing: 2px;
 }

 /* End of header styles */


 /* Navigation styles */
 nav {
     height: 50px;
     background-color: #333;
     text-align: center;
     line-height: 50px;
     font-size: 0;
 }

 .nav-item {
     display: inline-block;

 }

 .nav-item a {
     font-size: 16px;
     color: #fff;
     padding: 0 50px;
     text-decoration: none;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-weight: bold;
     transition: color 0.3s;
 }

 .nav-item a:hover {
     color: royalblue;
 }

 /* End of navigvation styles */


 /* Main */
 main {
     width: 1200px;
     margin: 50px auto;
     height: 1100px;
 }

 main h2 {
     margin-bottom: 30px;
     text-align: center;
     text-transform: uppercase;
 }

 .about-us-box {
     margin: 40px 0;
     position: relative;
     height: 300px;
     background-size: cover;
     background-position: 0 20%;
     background-attachment: fixed;
     border-top-left-radius: 50px;
     border-bottom-right-radius: 50px;
     overflow: hidden;
 }

 .top {
     background-image: url('../img/cosmos.jpg');
 }

 .mid {
     background-image: url('../img/forest.jpg');
 }

 .bot {
     background-image: url('../img/ocean.jpg');
 }

 .about-us-text {
     position: absolute;
     bottom: 20px;
     text-align: center;
     color: #fff;
     padding: 20px 40px;
 }

 .about-us-text h3 {
     text-transform: uppercase;
     margin-bottom: 10px;
 }

 .about-us-bg {
     position: absolute;
     bottom: 0;
     height: 45%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.8);

 }

 main ul {
     margin: 0 auto;
     margin-top: 50px;
     width: 90px;
 }

 main table {
     margin: 0 auto;
 }

 main table td {
     padding: 5px;
 }

 .kontakty-icons {
     padding-top: 50px;
     text-align: center;
     font-size: 30px;
 }

 /* End of main */


 /* Footer */
 footer {

     height: 80px;
     line-height: 75px;
     background-color: #333;
     color: #fff;
     text-align: center;
     font-size: 20px;

 }

 .icon-box {
     margin-left: 20px;
 }

 .icon-box a {
     margin: 0 5px;
     color: #ddd;
     font-size: 30px;
     transition: color 0.3s;
 }

 .icon-box a:hover {
     color: royalblue;
 }

 /* End of footer */