* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: "Montserrat", sans-serif;
	background-color: #333;
	font-size: 36px;
	color: #fff;
}

button {
	margin-top: 0px;
	font-family: "Nunito", sans-serif;
	width: 120px;
	position: absolute;
	top: 50px;
	transform: translateX(-50%);
	padding: 10px 30px;
	color: white;
	font-weight: bold;
	border: 3px solid white;
	word-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
	background: none;
}

button:hover {
	background-color: white;
	color: black;
	transition: 0.3s;
}

.btn-zoom {
	left: 25%;
}

.btn-move {
	left: 50%;
}

.btn-color {
	left: 75%;
}

.square {
	position: absolute;
	top: 150px;
	height: 100px;
	width: 100px;
	transform: translateX(-50%);
	border-radius: 25px;
}

.blue {
	background-color: royalblue;
	left: 25%;
	border: 2px solid blue;
	box-shadow: 0 0 15px royalblue;
}

.red {
	background-color: tomato;
	left: 50%;
	border: 2px solid red;
	box-shadow: 0 0 15px tomato;
}

.green {
	background-color: greenyellow;
	left: 75%;
	border: 2px solid green;
	box-shadow: 0 0 15px greenyellow;
}

.btn-zoom:hover ~ .square {
	height: 150px;
	width: 150px;
	transition: 0.3s;
}

.btn-move:hover ~ .square {
	top: 300px;
	transition: 0.3s;
}

.btn-color:hover ~ .square {
	background-color: black;
	box-shadow: 0 0 15px black;
	border: 2px solid white;
}
